*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Titillium Web', sans-serif;
}
ul li{
    list-style-type: none;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background: #884aa1;
    height: 85vh;
    position: relative;
}
.logo{
    height: 35px;
    margin-top: 35px;
    width: auto;
    float: left;
}
.main-nav{
    float: right;
    margin-top: 40px;
}
.main-nav li{
    display: inline-block;
    margin-left: 15px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121, 0);
    padding: 4px 16px;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    transition: .3s;
}
.main-nav li:first-child {
    margin-left: 0;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121, 1);
    padding: 4px 16px;
    border-radius: 3px;
}
.active{
    background: rgba(100, 58, 121, 1);
}
.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1{
    font-size: 42px;
    color: #fff;
}
.btn:link,
.btn:visited,
.btn{
    border-bottom: 1px solid #000;
    background-color: #333;
    text-decoration: none;
    padding: 15px 60px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}
.btn-hero:link,
.btn-hero:visited{
    background: #ed7b4d;
    border: #c86a40;
}

/*portfolio-section*/
.portfolio-section{
    background: linear-gradient(rgba(9, 170, 95, 0.781),rgba(31, 101, 52, 0.9)), url(img/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}
.portfolio-filter{
    margin: 4rem 0;
}
.portfolio-filter button{
    background: rgb(81, 1, 88);
    color: rgb(246, 248, 248);
    padding: 1rem 1.7rem;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 0 0.2rem;
    transition: 0.5s;
}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow:inset 0.3rem 0.4rem rgba(106, 196, 4, 0.801);
}
.portfolio-image{
    width: 100%;
    height: 25rem;
}
.portfolio-section .col:nth-child(3){
    margin-left: 0;
}
.portfolio-section .btn-load-more {
    background: #2b023b;
    color: aliceblue;
    margin: 2rem;
}
.portfolio-section .btn-load-more:hover{
    background: rgb(114, 85, 46);
    color: #fcfcfc;
}